.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgb(35 45 71 / 10%);
  background-color: #fff;
  z-index: 10001;
  width: 400px;
  box-sizing: border-box;
  .modalHeader {
    display: flex;
    justify-content: space-around;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    .title {
      color: #232d47;
      line-height: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
    }
    .closeIcon {
      width: 20px;
      height: 20px;
      .icon {
        font-size: 20px;
        color: #232d47;
      }
    }
  }
}

.modalConainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);
}